  
    <nav style="background-color : #26a69a;">
    <div class="nav-wrapper">
      <a href="home#!" class="brand-logo">MyVid</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="contact#!">Contact</a></li>
        <li><a href="../videos#!">Videos</a></li>
        <li><a href="https://wistia.com/">Wistia</a></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
<h1 style="text-align: center;">About me</h1>

 <body>


      <div class="container">
        <p style="text-align: center;">My name is Osama Khater and i am 13 years old, i developed this website in a course it took with the coding circle where we chose to build a web app like youtube!</p>
      </div>
    </body>



<div class="row">
      <div class="col s4"><p></p></div>
      <div class="col s4"><img src="/My_p.jpg" width = "400"  /></div>
</div>
<h2 style="text-align: center;">CEO</h2> 
<hr width="410">

<div class="row">

      <div class="col s4" style="text-align: center;">
         <i class="large material-icons" style="color:  #26a69a;">perm_identity</i>
         <p> As a 13 year old i like video games and technology, therefore, i got into coding. At first i thought it was boring however as i progressed i got more attatched to coding and found it more interesting the further i progressed, in the future, i hope to progress and continue developing. </p>
      </div>
      <div class="col s4" style="text-align: center;">
      <i class="large material-icons" style="color:  #26a69a;">language</i>
      <p>In this website i used Ruby, html and css to code. however the text is in the english language.</p>

      </div>
      <div class="col s4" style="text-align: center;">
      <i class="large material-icons" style="color:  #26a69a;">grade</i>
      <p>This website is a place where you can share videos online, like youtube. where you can upload and view very interesting videos!</p>

      </div>

    </div>



