  
    <nav style="background-color : #26a69a;">
    <div class="nav-wrapper">
      <a href="home#!" class="brand-logo">MyVid</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="about#!">About</a></li>
        <li><a href="../videos#!">Videos</a></li>
        <li><a href="https://wistia.com/">Wistia</a></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
<h1 style="text-align: center;">Contact Me</h1>
<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 100%;
        height: 400px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h3>My Location</h3>
      <div id="map"></div>
      <script>
        function initMap() {
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
              center: {lat: 31.971773, lng: 35.832886},
              zoom: 8
          });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC702hGmARiy3yXhmIK6E0Ua91nvi374FA&callback=initMap">
    </script>
  </body>
</html>
