<nav style="background-color : #26a69a;">
    <div class="nav-wrapper">
      <a href="home#!" class="brand-logo">MyVid</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="pages/about#!">About</a></li>
        <li><a href="pages/contact#!">Contact</a></li>
        <li><a href="videos#!">Videos</a></li>
        <li><a href="https://wistia.com/">Wistia</a></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <h1 style="text-align: center; ">Home</h1>

  <div class="row">
      <div class="col s12 center"> <img src="https://wistia.com/assets/main/secure_and_personalize-1b84f647348a46a9a6b36c92d4192891.png" ></div>

    </div>
   


 <div class="card  teal lighten-4" style="opacity: 0.8; text-align : center;">
<u><h4 style="text-align: center;">What is this website?</h4></u>
<p>This website is basically a video uploading website where you can create and share videos like youtube.</p>

<br>
<u><h4 style="text-align: center; ">How do i use this wwebsite?</h4></u>
<p>To upload press on the videos button in the navbar, then you will be redirected to another page where you will see other videos. at the bottom of the table you will see a new video button, you have to press it and you will go to another page. write a description and title for your video and then go to wistia (in the navbar) make an acount and record or upload a video to wistia. Press that video and on the video and at the end of the url you will see that wistiaid, copy it and paste it in the wistiaid text box in myvid. then you are done.</p>


<u><h2 style="text-align: center; ">Thank You and enjoy(:</h2></u>
<p>This website is basically a video uploading website where you can create and share videos like youtube.</p>
</div>



